<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> 
	<import resource="classpath:/config/grahak-context.xml" />

    <context:component-scan base-package="org.community.grahak.spring.bean.factory.annotation"/> 
    <!-- Reference: http://cxf.apache.org/docs/local-transport.html -->
	<jaxws:endpoint name="Echo"
        address="local://localhost:8080/test/echo-jws-service/services"
		implementor="org.community.grahak.cxf.jaxws.EchoServiceImpl"/>
		
		<bean id ="echoService" class="org.community.grahak.cxf.jaxws.EchoServiceImpl"/> 
		<bean id ="anotherEchoService" class="org.community.grahak.cxf.jaxws.AnotherEchoServiceImpl"/> 
</beans>


